.container {
    padding: 60px;
    background-color: #061B21;
    border-radius: 12px;
    width: 500px;
    height: 590px;
    position: center;
    display: grid;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    align-content: center;
}

.container.cadastro {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
}

h2, h5 {
    padding: 0;
  margin-bottom: 14px;
}
