.container {
  display: grid;
  max-width: 1160px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
  gap: 40px;
}

.opcoes {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 60px;
}

.opcoes a {
  color: aliceblue;
}
